---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/navbar.astro";
import Personal from "../components/personal.astro";
import Services from "../components/services.astro";
import Skills from "../components/skills.astro";
import Projects from "../components/projects.astro";
import Contact from "../components/contact.astro";
import Training from '../components/training.astro'
---

<Layout>

	<Navbar />
	<div class="md:ml-64 bg-crema dark:bg-negro
	 dark:text-blanco">
		<Personal />
		<Services />
		<Skills />
		<Projects />
		<Contact />
		
	</div>

</Layout>

