---
import Layout from '../layout/Layout.astro';
import Navbar from '../components/navbar.astro'
import Personal from '../components/personal.astro'
import Services from '../components/services.astro'

//components
---

<Layout>

	<Navbar />
	<div class="md:ml-64 bg-crema dark:bg-negro
	 dark:text-blanco">
		<Personal />
		<Services />
	</div>

</Layout>