<div class="bg-celeste-crema text-negro" >
  <span class="flex justify-center py-14 text-6xl font-bold" id="Contact">Contact</span>
  <div class="grid grid-cols-2 gap-10 py-14">
    <div class="flex justify-end items-end ">
        <div class=" grid lg:grid-cols-5 md:grid-cols-3 md:pb-8 lg:pb-0">
            <a href="" data-tip="Facebook" class="
            relative
            before:content-[attr(data-tip)]
            before:absolute
            before:px-3 before:py-2
            before:left-1/2 before:-top-3
            before:w-man before:max-w-xs
            before:-translate-x-1/2 before:-translate-y-full
            before:bg-gray-700 before:text-white
            before:rounded-md before:opacity-0
            before:transition-all

            after:absolute
            after:left-1/2 after:-top-3
            after:h-0 after:w-0
            after:-translate-x-1/2 after:border-8
            after:border-t-gray-700
            after:border-l-transparent
            after:border-b-transparent
            after:border-r-transparent
            after:opacity-0
            after:transition-all

            hover:before:opacity-100 hover:after:opacity-100
            ">
                <img class="icono mx-3" src="/public/social/facebook.svg" alt="">
            </a>
            <a href="" data-tip="Whatsapp" class="
            relative
            before:content-[attr(data-tip)]
            before:absolute
            before:px-3 before:py-2
            before:left-1/2 before:-top-3
            before:w-man before:max-w-xs
            before:-translate-x-1/2 before:-translate-y-full
            before:bg-gray-700 before:text-white
            before:rounded-md before:opacity-0
            before:transition-all

            after:absolute
            after:left-1/2 after:-top-3
            after:h-0 after:w-0
            after:-translate-x-1/2 after:border-8
            after:border-t-gray-700
            after:border-l-transparent
            after:border-b-transparent
            after:border-r-transparent
            after:opacity-0
            after:transition-all

            hover:before:opacity-100 hover:after:opacity-100
            ">
                <img src="/public/social/whatsapp.svg" alt="" class="icono mx-3">
            </a>
            <a href="" data-tip="Telegram" class="
            relative
            before:content-[attr(data-tip)]
            before:absolute
            before:px-3 before:py-2
            before:left-1/2 before:-top-3
            before:w-man before:max-w-xs
            before:-translate-x-1/2 before:-translate-y-full
            before:bg-gray-700 before:text-white
            before:rounded-md before:opacity-0
            before:transition-all

            after:absolute
            after:left-1/2 after:-top-3
            after:h-0 after:w-0
            after:-translate-x-1/2 after:border-8
            after:border-t-gray-700
            after:border-l-transparent
            after:border-b-transparent
            after:border-r-transparent
            after:opacity-0
            after:transition-all

            hover:before:opacity-100 hover:after:opacity-100
            ">
                <img src="/public/social/telegram.svg" alt="" class="icono mx-3">
            </a>
            <a href="" data-tip="Linkedin" class="
            relative
            before:content-[attr(data-tip)]
            before:absolute
            before:px-3 before:py-2
            before:left-1/2 before:-top-3
            before:w-man before:max-w-xs
            before:-translate-x-1/2 before:-translate-y-full
            before:bg-gray-700 before:text-white
            before:rounded-md before:opacity-0
            before:transition-all

            after:absolute
            after:left-1/2 after:-top-3
            after:h-0 after:w-0
            after:-translate-x-1/2 after:border-8
            after:border-t-gray-700
            after:border-l-transparent
            after:border-b-transparent
            after:border-r-transparent
            after:opacity-0
            after:transition-all

            hover:before:opacity-100 hover:after:opacity-100
            ">
                <img class="icono mx-3" src="/public/social/linkedin.svg" alt="">
            </a>
            <a href="" data-tip="GitHub" class="
            relative
            before:content-[attr(data-tip)]
            before:absolute
            before:px-3 before:py-2
            before:left-1/2 before:-top-3
            before:w-man before:max-w-xs
            before:-translate-x-1/2 before:-translate-y-full
            before:bg-gray-700 before:text-white
            before:rounded-md before:opacity-0
            before:transition-all

            after:absolute
            after:left-1/2 after:-top-3
            after:h-0 after:w-0
            after:-translate-x-1/2 after:border-8
            after:border-t-gray-700
            after:border-l-transparent
            after:border-b-transparent
            after:border-r-transparent
            after:opacity-0
            after:transition-all

            hover:before:opacity-100 hover:after:opacity-100
            ">
                <img class="icono mx-3" src="/public/social/github.svg" alt="">
            </a>
        </div>
    </div>
    <div>
        <div class="flex gap-6">
            <img class="icono" src="/public/social/phone.svg" alt="">
            <span>54 - 362-4383128</span>
        </div>
        <div class="flex gap-6">
            <img class="icono" src="/public/social/location.svg" alt="">
            <div class="flex items-center">
                <span>
                    Argentina, Resistencia-Chaco
                </span>
                <span class="sm:hidden lg:block">
                    Avenida Alberdi 2236
                </span>
            </div>
        </div>
        <div class="flex items-center gap-6">
            <img class="icono" src="/public/social/gmail.svg" alt="">
            <span>leoperaltagray@gmail.com</span>
        </div>
    </div>
  </div>

</div>


<style>
    .icono {
        width: 4rem;
    }
</style>