<nav class="flex items-center justify-between flex-wrap bg-#191919 p-4 md:mx-16">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <img src="/Logo.svg" alt="" style="width: 3rem;">
      <span class="font-bold text-xl tracking-tight mx-3">Portfolio</span>
    </div>
    <div class="block md:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="block">
        <button class="btn p-4 rounded hover:bg-orange-500 hover:text-black hover:animate-pulse">
            <a href="" class="mx-4">Home</a>
        </button>
        <button class="btn p-4 rounded hover:bg-orange-500 hover:text-black hover:animate-pulse">
            <a href="" class="mx-4">Sevices</a>
        </button>
        <button class="btn p-4 rounded hover:bg-orange-500 hover:text-black hover:animate-pulse">
            <a href="" class="mx-4">Skill</a>
        </button>
        <button class="btn p-4 rounded hover:bg-orange-500 hover:text-black hover:animate-pulse">
            <a href="" class="mx-4">Projects</a>
        </button>
        <button class="btn p-4 rounded hover:bg-orange-500 hover:text-black hover:animate-pulse">
            <a href="" class="mx-4">Contact</a>
        </button>
    </div>
      
   
  </nav>