---

---


<div
  class="lg:grid lg:grid-cols-2 px-10 pt-24 md:bg-crema lg:dark:bg-svg-image md:dark:bg-negro lg:bg-svg-crema-bot bg-cover bg-no-repeat lg:h-screen landing" id="Personal"
>
  <div class=" xm:pt-14 lg:pt-20 px-6">
    <p class="text-4xl">Hello <strong class="">I am</strong></p>
    <p class="dark:text-celeste xm:text-5xl md:text-5xl lg:text-7xl font-bold nombre-glow">
      Peralta Leonardo
    </p>
    
    
    <p class="text-1xl mt-5 font-semibold presen">
      I'm creative, passionate about technology, focused on front-end programming and systems analyst in general.
    </p>
    <div class="mt-6">
      <button
        class="text-1xl bg-sky-300 hover:bg-celeste focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 mr-2 mb-2 text-negro   focus:outline-none "
        type="button"
      >
        <a href="https://wa.me/qr/FQK6G2XDQZG3E1" target="_blank" class="font-semibold text-2xl">Let's talk</a>
      </button>
      <button
        type="button"
        class="text-1xl text-celeste hover:text-negro border border-sky-400 hover:bg-sky-300 focus:ring-4 focus:outline-none focus:ring-celeste font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-celeste dark:text-celeste dark:hover:text-negro dark:hover:bg-celeste dark:focus:ring-celeste"
      >
        <a href="https://drive.google.com/file/d/1lcnqMzcWpUcMlg1OFKQRROISy9AGb_Sl/view?usp=sharing" target="_blank" class="font-semibold text-2xl">Check CV</a>
      </button>
    </div>
  </div>

  <div class="pt-10 lg:pt-0">
    <img class="" src="/Leonardo-portfolio/avatar_new.png" alt="" />
  </div>
</div>

<style>
  

  .nombre-glow {
    font-size: 2rem;
    font-weight: bold;
    color: #79c0ea;
    text-shadow: 0 0 3px #79c0ea;
    transition: text-shadow 0.3s ease-in-out;
  }

  .nombre-glow:hover {
    text-shadow: 0 0 10px #79c0ea;
  }


  
  
</style>



<script>
  
</script>