<div class="grid grid-cols-2 gap-4 px-60 pt-32">
      <div>
        <p class="text-3xl">Hello <strong class="dark:text-sky-400">I am</strong></p>
        <p class="dark:text-sky-400 text-5xl  font-bold nombre-glow ">Peralta Leonardo</p>
        <p class="text-1xl mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus doloremque eos atque in ex ipsam, minima explicabo! Iste cumque maiores nihil est enim impedit. Dolorum facere molestias aliquid iste quam.
        </p>
        <div class="mt-6">
            <button class="text-1xl text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 mr-2 mb-2 dark:text-negro dark:bg-sky-400 dark:hover:bg-sky-700 focus:outline-none" type="button">
                <a href="">Let's talk</a>
            </button>
            <button type="button" class="text-1xl text-sky-400 hover:text-negro border border-sky-400 hover:bg-sky-400 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-sky-400 dark:text-sky-400 dark:hover:text-negro dark:hover:bg-sky-400 dark:focus:ring-sky-500">
                <a href="">Check CV</a>
            </button>
        </div>
      </div>



      <div>
        <img src="/public/Ilustracion.svg" alt="">
      </div>
</div>


<style>
    body {
        background-color: #191919;
    }
    
    .nombre-glow {
  font-size: 2rem;
  font-weight: bold;
  color: #79c0ea;
  text-shadow: 0 0 3px #79c0ea;
  transition: text-shadow 0.3s ease-in-out;
}

.nombre-glow:hover {
  text-shadow: 0 0 10px #79c0ea;
}



</style>

