<div
  class="lg:grid lg:grid-cols-2 px-10 pt-20 lg:dark:bg-svg-image md:dark:bg-negro bg-svg-crema-bot bg-cover bg-no-repeat lg:h-screen landing"
>
  <div class="md:pt-6 lg:pt-20 px-6">
    <p class="text-5xl">Hello <strong class="text-celeste">I am</strong></p>
    <p class="dark:text-celeste md:text-7xl lg:text-6xl font-bold nombre-glow">
      Peralta Leonardo
    </p>
    <p class="text-1xl mt-5 font-semibold">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
      doloremque eos atque in ex ipsam, minima explicabo! Iste cumque maiores
      nihil est enim impedit. Dolorum facere molestias aliquid iste quam.
    </p>
    <div class="mt-6">
      <button
        class="text-1xl bg-sky-300 hover:bg-celeste focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 mr-2 mb-2 text-negro   focus:outline-none"
        type="button"
      >
        <a href="" class="font-semibold">Let's talk</a>
      </button>
      <button
        type="button"
        class="text-1xl text-celeste hover:text-negro border border-sky-400 hover:bg-sky-300 focus:ring-4 focus:outline-none focus:ring-celeste font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-celeste dark:text-celeste dark:hover:text-negro dark:hover:bg-celeste dark:focus:ring-celeste"
      >
        <a href="" class="font-semibold">Check CV</a>
      </button>
    </div>
  </div>

  <div class="pt-10 lg:pt-0">
    <img class="" src="/public/avatar_new.png" alt="" />
  </div>
</div>

<style>
  body {
    background-color: #191919;
  }

  .nombre-glow {
    font-size: 2rem;
    font-weight: bold;
    color: #79c0ea;
    text-shadow: 0 0 3px #79c0ea;
    transition: text-shadow 0.3s ease-in-out;
  }

  .nombre-glow:hover {
    text-shadow: 0 0 10px #79c0ea;
  }
</style>
