<div class="lg:dark:bg-svg-image-top md:dark:bg-negro bg-cover bg-no-repeat pt-72 lg:bg-svg-crema-top lg:pt-80">
    <div class="mx-48">
        <p>My services</p>
        <p>What I Do</p>
        <div class="flex gap gap-8">
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-70 grid justify-items-center">
                <span class="material-symbols-outlined">
                    laptop_mac
                    </span>
                <p>User interface</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, veniam.</p>
            </div>
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-70 grid justify-items-center">
                <span class="material-symbols-outlined">
                    code
                    </span>
                <p>User interface</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, veniam.</p>
            </div>
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-70 grid justify-items-center">
                <span class="">
                    <img src="../../public/icons/design.svg" alt="" class="">
                </span>
                <p>User interface</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, veniam.</p>
            </div>
        </div>
    </div>
    
</div>

<style>
    