

<div
  class="lg:dark:bg-svg-image-top md:dark:bg-negro bg-cover bg-no-repeat xm:pt-40 pt-72 lg:bg-svg-crema-top lg:pt-80 pb-36 p-10 md:px-0" id="Services"
>
  <div class="lg:mx-16 md:ml-14 sm:ml-14">
    <div class="flex items-center">
        <hr class=" dark:border-celeste-crema  border-sky-500 border-t-2 w-10 mr-3">
        <span class="dark:text-blanco text-negro italic font-semibold">MY SERVICES</span>
      </div>
      
    <p class="text-3xl pb-8 dark:text-celeste-crema text-sky-500 font-semibold">What Can I Do</p>



    
    <div class="lg:flex sm:block gap gap-8">
      <div
        class="p-6 sm:mr-8 lg:mr-0 border border-gray-200 rounded-lg shadow bg-celeste-crema dark:border-gray-70 grid justify-items-center mb-12 h-72"
      >
        <span class="material-symbols-outlined icon"> laptop_mac</span>
        <p class="text-negro text-3xl font-semibold">user interface</p>
        <p class="text-negro text-2xl">
            Assembly and layout of web platforms.
        </p>
      </div>
      <div
        class="p-6 sm:mr-8 lg:mr-0 border border-gray-200 rounded-lg bg-celeste-crema dark:border-gray-70 grid justify-items-center mb-12 h-72"
      >
        <span class="material-symbols-outlined icon"> code</span>
        <p class="text-negro text-3xl font-semibold">coding</p>
        <p class="text-negro text-2xl">
            Creation of web pages with HTML, CSS, Javascipt and frameworks.
        </p>
      </div>
      <div
        class="p-6 sm:mr-8 lg:mr-0 border border-gray-200 rounded-lg shadow bg-celeste-crema dark:border-gray-70 grid justify-items-center h-72"
      >
        <span class="material-symbols-outlined icon"> design_services</span>
        <p class="text-negro text-3xl font-semibold">ui/ux</p>
        <p class="text-negro text-2xl">
            Design and development of user interfaces.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
    .icon {
        font-size: 5rem;
        color: #121212;
    }
</style>